<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="PROYPDSW.sampleprj.dao.mybatis.mappers.IniciativaMapper">
		<resultMap type="Iniciativa" id="IniciativaResult">
			<id property="id" column="iId"/>
			<result property="nombre" column="iNombre"/>
			<result property="estado" column="iEstado"/>
			<result property="no_votos" column="iNo_votos"/>
			<result property="descripcion" column="iDescripcion"/>
			<result property="fechaDeCreacion" column="iFechaDeCreacion"/>
			<association property="creador" javaType="Perfil" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper.PerfilResult"></association>
		</resultMap>

		<select id="consultarIniciativa" parameterType="map" resultMap="IniciativaResult">
			SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
				FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id) WHERE iniciativa.id=#{iniciativaId};
		</select>
		
		<select id="palabrasClaveDeIniciativa" parameterType="map" resultType="java.lang.String">
			SELECT
				palabra_clave.palabra as palabra
			FROM palabra_clave WHERE palabra_clave.iniciativa=#{iniciativa};
		</select>
		
		<select id="consultarIniciativas" parameterType="map" resultMap="IniciativaResult">
			SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
				FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id);
		</select>


		<select id="consultarIniciativasPorEstado" parameterType="map" resultMap="IniciativaResult">
			SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
				FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id) WHERE iniciativa.estado=#{estado};
		</select>
		<select id="consultarIniciativasPorPerfil" parameterType="map" resultMap="IniciativaResult">
			SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
				FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=#{perfil}) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id);
		</select>


		<select id="consultarIniciativaPorPalabraClave" parameterType="map" resultMap="IniciativaResult">
		SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
				FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id) JOIN palabra_clave ON (iniciativa.id=palabra_clave.iniciativa)WHERE palabra_clave.palabra=#{palabraClave};
			</select>
			
		<select id="consultarComentariosDeIniciativa" parameterType="map" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.ComentarioMapper.ComentarioResult">
			SELECT
				comentarios.iniciativa as cIniciativa,
				comentarios.descripcion as cDescripcion,
				comentarios.id as cId,
				comentarios.fecha as cFecha,
				
				perfil.nombre as pNombre,
				perfil.email as pEmail,
				area.nombre as aNombre,
				rol.nombre as rNombre,
				rol.prioridad as rPrioridad
			FROM comentarios JOIN perfil ON (comentarios.perfil=perfil.email) JOIN area ON (perfil.area=area.id) JOIN rol ON (perfil.rol=rol.nombre) WHERE comentarios.iniciativa=#{iniciativa};
			
		</select>
		
		<select id="consultarIniciativasPorArea" parameterType="map" resultMap="IniciativaResult">
			SELECT 
				iniciativa.id as iId, 
				iniciativa.nombre as iNombre, 
				iniciativa.estado as iEstado, 
				iniciativa.no_votos as iNo_votos, 
				iniciativa.descripcion as iDescripcion, 
				iniciativa.fechaDeCreacion as iFechaDeCreacion, 
				
				perfil.nombre as pNombre, 
				perfil.email as pEmail, 
				area.nombre as pArea, 
				rol.nombre as rNombre, 
				rol.prioridad as rPrioridad
			FROM 
				iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) JOIN rol ON (perfil.rol=rol.nombre) JOIN area ON (perfil.area=area.id) JOIN palabra_clave ON (iniciativa.id=palabra_clave.iniciativa)WHERE area.nombre=#{area};
				
		</select>
		
		<select id="isParticipando" parameterType="map" resultType="java.lang.Boolean">
			SELECT EXISTS(SELECT iniciativa FROM voluntad WHERE perfil=#{usr} AND iniciativa=#{ini});
		</select>
		
		<select id="consultarInteresadosDeIniciativa" parameterType="map" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper.PerfilResult">
			SELECT perfil.email as pEmail,  perfil.nombre as pNombre, area.nombre as pArea FROM interes JOIN perfil ON (interes.perfil=perfil.email and interes.iniciativa=#{id}) JOIN area ON (perfil.area = area.id);
		</select>
	
		<select id="consultarVoluntariosDeIniciativa" parameterType="map" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper.PerfilResult">
			SELECT perfil.email as pEmail,  perfil.nombre as pNombre, area.nombre as pArea FROM interes JOIN perfil ON (interes.perfil=perfil.email and interes.iniciativa=#{id}) JOIN area ON (perfil.area = area.id);
		</select>

		<select id="consultarInteres" parameterType="map" resultType="java.lang.Boolean">
			SELECT EXISTS(SELECT iniciativa FROM interes WHERE perfil=#{perfil} AND iniciativa=#{ini});
		</select>

		<select id="consultarCantidadVotosIniciativa" parameterType="map" resultType="java.lang.Integer">
			SELECT COUNT(perfil) FROM interes WHERE iniciativa=#{iniciativa};
		</select>
				
		<insert id="agregarIniciativa" parameterType="map">
			INSERT INTO iniciativa (id, nombre, estado, creador, no_votos, descripcion, fechaDeCreacion) VALUES (#{ini.id},#{ini.nombre},#{ini.estado},#{ini.creador.email},0,#{ini.descripcion},#{ini.fechaDeCreacion});
		</insert>
		
		<insert id="agregarPalabraClaveAIniciativa" parameterType="map">
			INSERT INTO palabra_clave (iniciativa, palabra) VALUES (#{iniciativa},#{palabra});
		</insert>
		
		<update id="modificarEstadoDeLaIniciativa" parameterType="map">
			UPDATE iniciativa SET estado = #{estado}
			WHERE iniciativa.id=#{iniciativa.id};
		</update>
		<insert id="agregarInteresAIniciativa" parameterType="map">
			INSERT INTO interes(perfil, iniciativa) VALUES (#{perfil},#{ini});
		</insert>
				
		<insert id="agregarVoluntadAIniciativa" parameterType="map">
			INSERT INTO voluntad(perfil, iniciativa) VALUES (#{perfil},#{ini});
		</insert>
		
		<delete id="cancelarInteresAIniciativa" parameterType="map">
			DELETE FROM interes
			WHERE perfil=#{perfil} AND iniciativa=#{ini}; 
		</delete>
		<delete id="eliminarVoluntad" parameterType="map">
			DELETE FROM voluntad WHERE perfil=#{usr} and iniciativa=#{ini};
		</delete>
		
		<update id="actualizarVotosIniciativa" parameterType="map">
			UPDATE iniciativa SET no_votos = #{votos}
			WHERE id = #{iniciativa}; 
		</update>
		
		<update id="modificarIniciativa" parameterType="map">
			UPDATE iniciativa SET (nombre, descripcion) = ( #{iniciativa.nombre}, #{iniciativa.descripcion})
			WHERE id = #{iniciativa.id}; 
		</update>
		
		<delete id="eliminarPalabrasClave" parameterType="map">
			DELETE FROM palabra_clave
			WHERE #{iniciativa.id}=iniciativa;
		</delete>
	
	</mapper>