<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="PROYPDSW.sampleprj.dao.mybatis.mappers.IniciativaMapper">
		<resultMap type="Iniciativa" id="IniciativaResutl">
			<id property="id" column="iId"/>
			<result property="nombre" column="iNombre"/>
			<result property="estado" column="iEstado"/>
			<result property="no_votos" column="iNo_votos"/>
			<result property="fechaDeCreacion" column="iFechaDeCreacion"/>
			<collection property="interesados" ofType="Perfil" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper.PerfilResult"></collection>
			<collection property="voluntarios" ofType="Perfil" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper.PerfilResult2"></collection>
			<collection property="comentarios" ofType="Comentario" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.ComentarioMapper.ComentarioResult"></collection>
			<collection property="palabrasClave" ofType="java.lang.String" javaType="java.lang.String"></collection>
		</resultMap>
	
		<resultMap type="java.lang.String" id="palabrasClaveResult">
			
