<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PROYPDSW.sampleprj.dao.mybatis.mappers.PerfilMapper">
	<resultMap type="Perfil" id="PerfilResult">
		<id property="email" column="pEmail"/>
		<result property="carne" column="pCarne"/>
		<result property="nombre" column="pNombre"/>
		<result property="area" column="pArea"/>
		<association property="rol" javaType="Rol" resultMap="RolResult"></association>
	</resultMap>
	<resultMap type="Rol" id="RolResult">
		<id property="nombre" column="rNombre"/>
		<result property="prioridad" column="rPrioridad"/>
	</resultMap>
	<select id="consultarPerfil" parameterType="map" resultMap="PerfilResult">
		select  p.email as pEmail,
				p.carne as pCarne,
				p.nombre as pNombre,
				a.nombre as pArea,
				r.nombre as rNombre,
				r.prioridad as rPrioridad
		from Perfil as p join Rol as r on(p.rol=r.nombre) join Area as a on(p.area=a.id) where p.email=#{email};
	</select>
	<select id="consultarUsuarios" parameterType="map" resultMap="PerfilResult">
		select  p.email as pEmail,
				p.carne as pCarne,
				p.nombre as pNombre,
				a.nombre as pArea,
				r.nombre as rNombre,
				r.prioridad as rPrioridad
		from Perfil as p join Rol as r on(p.rol=r.nombre) join Area as a on(p.area=a.id);
	</select>
	<select id="consultarPerfilPorRol" parameterType="map" resultMap="PerfilResult">
		select  p.email as pEmail,
				p.carne as pCarne,
				p.nombre as pNombre,
				a.nombre as pArea,
				r.nombre as rNombre,
				r.prioridad as rPrioridad
		from Perfil as p join Rol as r on(p.rol=r.nombre) join Area as a on(p.area=a.id) where r.nombre=#{rol} ;
	</select>
	<select id="consultarPerfilPorArea" parameterType="map" resultMap="PerfilResult">
		select  p.email as pEmail,
				p.carne as pCarne,
				p.nombre as pNombre,
				a.nombre as pArea,
				r.nombre as rNombre,
				r.prioridad as rPrioridad
		from Perfil as p join Rol as r on(p.rol=r.nombre) join Area as a on(p.area=a.id) where a.nombre=#{area} ;
	</select>
	<select id="consultarInteresDePerfil" parameterType="map" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult">
		SELECT 
			iniciativa.id as iId, 
			iniciativa.nombre as iNombre, 
			iniciativa.estado as iEstado, 
			iniciativa.no_votos as iNo_votos, 
			iniciativa.descripcion as iDescripcion, 
			iniciativa.fechaDeCreacion as iFechaDeCreacion, 
			perfil.carne as pCarne, 
			perfil.nombre as pNombre, 
			perfil.email as pEmail, 
			area.descripcion as pArea, 
			rol.nombre as rNombre, 
			rol.prioridad as rPrioridad,
			palabra_clave.palabra as pcPalabra
		FROM iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) 
			JOIN rol ON (perfil.rol=rol.nombre) 
			JOIN area ON (perfil.area=area.id) 
			JOIN palabra_clave ON (iniciativa.id=palabra_clave.iniciativa)
			JOIN interes ON (iniciativa.id=interes.iniciativa) where perfil.email=#{perfil};
			
	</select>
	<select id="consultarVoluntadDePerfil" parameterType="map" resultMap="PROYPDSW.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult">
		SELECT 
			iniciativa.id as iId, 
			iniciativa.nombre as iNombre, 
			iniciativa.estado as iEstado, 
			iniciativa.no_votos as iNo_votos, 
			iniciativa.descripcion as iDescripcion, 
			iniciativa.fechaDeCreacion as iFechaDeCreacion, 
			perfil.carne as pCarne, 
			perfil.nombre as pNombre, 
			perfil.email as pEmail, 
			area.descripcion as pArea, 
			rol.nombre as rNombre, 
			rol.prioridad as rPrioridad,
			palabra_clave.palabra as pcPalabra
		FROM iniciativa JOIN perfil ON (iniciativa.creador=perfil.email) 
			JOIN rol ON (perfil.rol=rol.nombre) 
			JOIN area ON (perfil.area=area.id) 
			JOIN palabra_clave ON (iniciativa.id=palabra_clave.iniciativa)
			JOIN voluntad ON (iniciativa.id=voluntad.iniciativa) where perfil.email=#{perfil};
	</select>
	
</mapper>

